@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Funnel Sans", sans-serif;
  color: #fff;
}

body {
  min-height: 100dvh;
  height: 100%;
  background: black;
  display: grid;
  place-items: center;
}
.container {
  display: grid;
  gap: 2rem;
  margin: 5rem 0 5rem 0;
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
.profile img {
  position: relative;
  width: 150px;
  border-radius: 20%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, transparent, white, transparent) 1;
}
h1 {
  position: relative;
  font-size: 3rem;
}
h1::after, h1::before {
  content: 'xhvsh';
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
}
h1::after {
  color: #ae35ff;
  left: -3px;
  top: -2px;
}
h1::before {
  color: #2631ff;
  right: -3px;
  bottom: -2px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.media {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
.media img {
  height: 3rem;
  transition: all 0.3s ease-in-out;
}
.media:hover img {
  filter: drop-shadow(-2px -2px 2px #ae35ff) drop-shadow(2px 2px 2px #2631ff);
}
.popup {
  width: 100%;
  position: absolute;
  top: -1rem;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease-in-out;
}
.media:hover .popup {
  opacity: 1;
}

@media (max-width: 420px) {
  .links {
    grid-template-columns: 1fr;
  }
  .media:hover img {
    filter: drop-shadow(0 0);
  }
  .popup {
    all: unset;
    font-size: 1.8rem;
    font-weight: 900;
  }
}
