@import url("https://fonts.googleapis.com/css2?family=Funnel+Sans:wght@300..800&display=swap");

/* hover color variables */
:root {
  --discord-light: #5c6bc0;
  --discord-dark: #2f3763;

  --instagram-light: #8a49a1;
  --instagram-extra: #e56969;
  --instagram-dark: #ffc273;

  --medal-light: #090b04;
  --medal-dark: #424440;

  --youtube-light: #c02127;
  --youtube-dark: #751316;

  --twitch-light: #6558d8;
  --twitch-dark: #371364;

  --github-light: #7a7a7a;
  --github-dark: #303030;

  --telegram-light: #00aaf2;
  --telegram-dark: #00457a;

  --steam-light: #111d2e;
  --steam-dark: #1387b8;

  --spotify-light: #1ed860;
  --spotify-dark: #065520;

  --tiktok-light: #01f2e9;
  --tiktok-extra: #83769a;
  --tiktok-dark: #fe004d;

  --namemc-light: #2c2c2c;
  --namemc-dark: #272727;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
  font-family: "Funnel Sans", sans-serif;
  color: #fff;
}

body {
  min-height: 100dvh;
  height: 100%;
  background: black;
  display: grid;
  place-items: center;
}

.trailer {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background: linear-gradient(135deg, #fff, #fff);
  border-radius: 50%;
  z-index: 2;
  pointer-events: none;
  opacity: 0;
  transition: all 0.1s ease, width 0.4s ease, height 0.4s ease;
  will-change: opacity, transform, background;
}
body:hover .trailer {
  opacity: 1;
}
.hovering {
  width: 70px;
  height: 70px;
}

.container {
  display: grid;
  gap: 2rem;
  margin: 5rem 0 5rem 0;
}
.profile {
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  transform: translateY(20px);
  transition: opacity 0.3s linear, transform 0.4s ease;
  will-change: opacity, transform;
}
.profile img {
  position: relative;
  width: 150px;
  border-radius: 20%;
  border-bottom: 2px solid;
  border-image: linear-gradient(to right, transparent, white, transparent) 1;
}
h1 {
  position: relative;
  font-size: 3rem;
}
h1::after,
h1::before {
  content: "xhvsh";
  position: absolute;
  z-index: -1;
  transition: all 0.3s ease;
}
h1::after {
  color: #ae35ff;
  left: -3px;
  top: -2px;
}
h1::before {
  color: #2631ff;
  right: -3px;
  bottom: -2px;
}
.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
}
.media {
  opacity: 0;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
  text-decoration: none;
  transition: all 0.3s ease;
  z-index: 2;
  transform: translateY(20px);
  transition: opacity 0.3s linear, transform 0.4s ease;
  will-change: opacity, transform;
}
.media img {
  height: 3rem;
  transition: all 0.3s ease;
  filter: drop-shadow(3px 3px 0 #000);
}
a[href="https://namemc.com/xhvsh"] img
{
  height: 2.5rem;
}
.arrow {
  display: none;
}
.popup {
  width: 100%;
  position: absolute;
  top: -1rem;
  left: 0;
  text-align: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}
.media:hover .popup {
  opacity: 1;
}

@media (max-width: 420px) {
  .trailer {
    all: unset;
    display: none;
  }
  .links {
    grid-template-columns: 1fr;
  }
  .container {
    width: clamp(240px, 90%, 100%);
  }
  .media {
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    overflow: hidden;
  }
  .media img {
    filter: drop-shadow(0 0);
    z-index: 3;
  }
  a[href="https://namemc.com/xhvsh"] img
  {
    height: 3rem;
  }
  .media:hover img {
    filter: drop-shadow(0 0);
  }
  .arrow {
    position: absolute;
    right: 1rem;
    display: block;
    fill: #fff;
  }
  .popup {
    all: unset;
    font-size: 1.8rem;
    font-weight: 900;
  }
}
@media (max-width: 320px) {
  .arrow {
    display: none;
  }
}

.show {
  transform: translateY(0);
}
